@page
@using GlrTransportInc.Models
@model GlrTransportInc.DeleteModel
@inject SignInManager<UserModel> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    @if (DeleteModel.Position == "Manager")
    {
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <b>Freight Bill Status: </b>
                        @Html.DisplayFor(model => model.FreightBill.Status)
                    </div>
                </div>
            </div>
            <div id="PrintDiv">
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/Images/GLR_Home.png" style="width:130px; height:130px;" alt="Company Logo">
                        </div>
                        <div class="col-md-6">
                            <h3 style="text-align:center">GLR Transport, Inc</h3>
                            <h6 style="text-align:center">
                                1141 CR 3470<br />
                                Paradise, TX 76073<br />
                                <br />
                                Office: (940)-433-5101 Fax: (940)-433-2248 Cell: (940)-210-5907
                            </h6>
                        </div>
                        <div class="col-md-3">
                            <h6 style="text-align:center">
                                TX DOT #: 006397217C<br />
                                USDOT #: 1950593<br />
                                MC #: 707590<br />
                                glrtransport@earthlink.net
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 border">
                            <b>
                                Customer:
                            </b>
                            <br />
                            @Html.DisplayFor(model => model.FreightBill.Customer)
                        </div>
                        <div class="col-sm-6 border">
                            <b>
                                Freight Bill #:
                            </b>
                            <br />
                            @Html.DisplayFor(model => model.FreightBill.FreightBillNumber)
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 border">
                            <b>
                                Origin:
                            </b>
                            <br />
                            @Html.DisplayFor(model => model.FreightBill.FromName)<br />
                            @Html.DisplayFor(model => model.FreightBill.FromStreet)<br />
                            @Html.DisplayFor(model => model.FreightBill.FromCity), @Html.DisplayFor(model => model.FreightBill.FromState)<br />
                            @Html.DisplayFor(model => model.FreightBill.FromZip)<br />
                            <br />
                            <div id="ommitThis">
                                <a target="_blank" href="@string.Format("https://maps.google.com/?q={0}", Model.FreightBill.FromLocation)">
                                    <a target="_blank" href="@string.Format("https://maps.apple.com/?q={0}", Model.FreightBill.FromLocation)">
                                        Get Directions
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 border">
                            <b>
                                Destination:
                            </b>
                            <br />
                            @Html.DisplayFor(model => model.FreightBill.ToName)<br>
                            @Html.DisplayFor(model => model.FreightBill.ToStreet)<br>
                            @Html.DisplayFor(model => model.FreightBill.ToCity), @Html.DisplayFor(model => model.FreightBill.ToState)<br>
                            @Html.DisplayFor(model => model.FreightBill.ToZip)<br />
                            <br />
                            <div id="ommitThis">
                                <a target="_blank" href="@string.Format("https://maps.google.com/?q={0}", Model.FreightBill.ToLocation)">
                                    <a target="_blank" href="@string.Format("https://maps.apple.com/?q={0}", Model.FreightBill.ToLocation)">
                                        Get Directions
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 border">
                            <b>
                                Scheduled Date:
                            </b>
                            <br />
                            @if (@Model.FreightBill.ScheduledDate == null)
                            {

                            }
                            else
                            {
                                @Model.FreightBill.ScheduledDate.Value.ToShortDateString()
                            }
                        </div>
                        <div class="col-sm-4 border">
                            <div class="row border">
                                <div class="col-sm-12">
                                    <b>
                                        Size:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.Size)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>
                                        Unit:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.Unit)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 border">
                            <div class="row">
                                <div class="col">
                                    <b>
                                        Branch And Description:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.BranchAndDescription)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 border">
                                    <b>
                                        PO #:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.PoNumber)
                                </div>
                                <div class="col-sm-6 border">
                                    <b>
                                        Doc / Job #:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.DocJob)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 border">
                            <b>
                                Comments:
                            </b>
                            <br />
                            @Html.DisplayFor(model => model.FreightBill.Comments)
                        </div>
                        <div class="col-sm-6 border">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-8">Labor</th>
                                        <th class="col-4">Cost ($)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor1)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost1)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor2)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost2)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor3)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor4)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost4)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor5)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost5)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor6)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost6)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor7)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost7)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor8)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost8)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            @Html.DisplayFor(model => model.FreightBill.Labor9)
                                        </td>
                                        <td class="col-4">
                                            @Html.DisplayFor(model => model.FreightBill.Cost9)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-8">
                                            <b>Total</b>
                                        </td>
                                        <td class="col-4">
                                            @Model.FreightBill.Total
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>
                                        Truck #:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.TruckNumber)
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-12">
                                    <b>
                                        Driver:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.Driver)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>
                                        Received By:
                                    </b>
                                    <br />
                                    @Html.DisplayFor(model => model.FreightBill.ReceivedBy)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 border">
                            <b>
                                Completion Date:
                            </b>
                            <br />
                            @if (@Model.FreightBill.CompletionDate == null)
                            {

                            }
                            else
                            {
                                @Model.FreightBill.CompletionDate.Value.ToShortDateString()
                            }
                        </div>
                        <div class="col-sm-3 border">
                            <b>
                                Site Contact:
                            </b>
                            <br />
                            @Html.DisplayFor(model => model.FreightBill.SiteName)<br>
                            <a href="@string.Format("tel:{0}", Model.FreightBill.SitePhoneNumber)">@Model.FreightBill.SitePhoneNumber</a><br />
                            <a href="@string.Format("mailto:{0}", Model.FreightBill.EmailAddress)">@Model.FreightBill.EmailAddress</a>
                        </div>
                        <div class="col-sm-3 border">
                            <b>
                                Payment Due Date:
                            </b>
                            <br />
                            @if (@Model.FreightBill.DueDate == null)
                            {

                            }
                            else
                            {
                                @Model.FreightBill.DueDate.Value.ToShortDateString()
                            }
                        </div>
                    </div>
                </div>
            </div>

        <form method="post">
            <input type="hidden" asp-for="FreightBill.ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
    }
    else
    {
    <div class="main text-center">
        <p>You must log in to a manager account to delete a freight bill.</p>
    </div>
    }
}
else
{
<div class="text-center">
    <h1>You must log in to view this page.</h1>
</div>
}
