@page
@model GlrTransportInc.DetailsModel

<script language="javascript">
function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
}
</script>
<div id="PrintDiv">
    <h4>FreightBill</h4>
    <hr />
    <div class="container">
        <div class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FreightBill.Customer)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.FreightBill.Customer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FreightBill.FreightBillNumber)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.FreightBill.FreightBillNumber)
            </dd>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.FromName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.FromName)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.FromStreet)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.FromStreet)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.FromCity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.FromCity)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.FromState)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.FromState)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.FromZip)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.FromZip)
                    </dd>
                </div>
                <div class="row">
                    <a target="_blank" href="@string.Format("https://maps.google.com/?q={0}", Model.FreightBill.FromLocation)">
                        <a target="_blank" href="@string.Format("https://maps.apple.com/?q={0}", Model.FreightBill.FromLocation)">
                            Get Directions
                        </a>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.ToName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.ToName)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.ToStreet)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.ToStreet)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.ToCity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.ToCity)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.ToState)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.ToState)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FreightBill.ToZip)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FreightBill.ToZip)
                    </dd>
                </div>
                <div class="row">
                    <a target="_blank" href="@string.Format("https://maps.google.com/?q={0}", Model.FreightBill.ToLocation)">
                        <a target="_blank" href="@string.Format("https://maps.apple.com/?q={0}", Model.FreightBill.ToLocation)">
                            Get Directions
                        </a>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FreightBill.ScheduledDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FreightBill.ScheduledDate)
                </dd>
            </div>
            <div class="col-sm-5">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.Size)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.Size)
                </dd>
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.Unit)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.Unit)
                </dd>
            </div>
            <div class="col-sm-5">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.BranchAndDescription)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.BranchAndDescription)
                </dd>
                <div class="row">
                    <div class="col-sm-6">
                        <dt class="row">
                            @Html.DisplayNameFor(model => model.FreightBill.PoNumber)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.FreightBill.PoNumber)
                        </dd>
                    </div>
                    <div class="col-sm-6">
                        <dt class="row">
                            @Html.DisplayNameFor(model => model.FreightBill.DocJob)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.FreightBill.DocJob)
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.Comments)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.Comments)
                </dd>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Labor</th>
                            <th>Cost ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor1)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost1)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor2)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost2)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor3)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost3)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor4)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost4)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor5)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost5)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor6)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost6)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor7)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost7)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor8)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost8)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Labor9)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FreightBill.Cost9)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.TruckNumber)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.TruckNumber)
                </dd>
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.Driver)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.Driver)
                </dd>
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.ReceivedBy)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.ReceivedBy)
                </dd>
            </div>
            <div class="col-sm-3">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.CompletionDate)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.CompletionDate)
                </dd>
            </div>
            <div class="col-sm-3">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.SiteName)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.SiteName)
                </dd>
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.SitePhoneNumber)
                </dt>
                <dd class="row">
                    <a href="@string.Format("tel:{0}", Model.FreightBill.SitePhoneNumber)">@Model.FreightBill.SitePhoneNumber</a>
                </dd>
            </div>
            <div class="col-sm-3">
                <dt class="row">
                    @Html.DisplayNameFor(model => model.FreightBill.DueDate)
                </dt>
                <dd class="row">
                    @Html.DisplayFor(model => model.FreightBill.DueDate)
                </dd>
            </div>
        </div>
    </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreightBill.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            <a href="@string.Format("mailto:{0}", Model.FreightBill.EmailAddress)">@Model.FreightBill.EmailAddress</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreightBill.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FreightBill.Status)
        </dd>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FreightBill.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
    <br />
    <button type="submit" class="btn btn-primary bg-success" onclick="printDiv('PrintDiv')">Print Freight Bill</button>
</div>
