@page
@model GlrTransportInc.DetailsModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager

<meta name="viewport" content="width=1024">
@if (SignInManager.IsSignedIn(User))
{
    
    <script language="javascript">
        function printDiv(divName, ommit) {
            var originalContents = document.body.innerHTML;
            document.getElementById(ommit).remove();
            document.getElementById(ommit).remove();
            var printContents = document.getElementById(divName).innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
    <div id="PrintDiv">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Images/GLR_Home.png" style="width:100px; height:100px;" alt="Company Logo">
                </div>
                <div class="col-md-6">
                    <h3 style="text-align:center">GLR Transport, Inc</h3>
                    <h6 style="text-align:center">
                        1141 CR 3470<br/>
                        Paradise, TX 76073<br/>
                        Office: (940)-433-5101 Fax: (940)-433-2248 Cell: (940)-210-5907
                    </h6>
                </div>
                <div class="col-md-3">
                    <h6 style="text-align:center">
                        <br/>
                        TX DOT #: 006397217C<br/>
                        USDOT #: 1950593<br/>
                        MC #: 707590<br/>
                        glrtransport@earthlink.net
                    </h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 border border-bottom-0">
                    <h5 style="font-weight: bold">
                        Customer:
                    </h5>
                    <h5>
                    @Html.DisplayFor(model => model.FreightBill.Customer)
                    </h5>
                </div>
                <div class="col-sm-6 border border-bottom-0 border-left-0">
                    <h5 style="font-weight: bold">
                        Freight Bill #:
                    </h5>
                    @if (Model.FreightBill.FreightBillNumber != "000")
                    {
                        <h5>
                            @Html.DisplayFor(model => model.FreightBill.FreightBillNumber)
                        </h5>
                    }
                    else {
                        <h5>Repeated number entered</h5>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 border border-bottom-0">
                    <h5 style="font-weight: bold">
                        Origin:
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.FromName)
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.FromStreet)
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.FromCity), @Html.DisplayFor(model => model.FreightBill.FromState)
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.FromZip)
                    </h5>
                    <div id="ommitThis">
                        <a target="_blank" href="@string.Format("https://maps.google.com/?q={0}", Model.FreightBill.FromLocation)">
                            <a target="_blank" href="@string.Format("https://maps.apple.com/?q={0}", Model.FreightBill.FromLocation)">
                                Get Directions
                            </a>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 border border-bottom-0 border-left-0">
                    <h5 style="font-weight: bold">
                        Destination:
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.ToName)
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.ToStreet)
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.ToCity), @Html.DisplayFor(model => model.FreightBill.ToState)
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.ToZip)
                    </h5>
                    <div id="ommitThis">
                        <a target="_blank" href="@string.Format("https://maps.google.com/?q={0}", Model.FreightBill.ToLocation)">
                            <a target="_blank" href="@string.Format("https://maps.apple.com/?q={0}", Model.FreightBill.ToLocation)">
                                Get Directions
                            </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 border border-bottom-0">
                    <h5 style="font-weight: bold">
                        Scheduled Date:
                    </h5>
                    @if (@Model.FreightBill.ScheduledDate == null){
                                                                
                    }
                    else
                    {
                        <h5>
                            @Model.FreightBill.ScheduledDate.Value.ToShortDateString()
                        </h5>
                    }
                </div>
                <div class="col-sm-4 border border-bottom-0 border-left-0">
                    <div class="row border-bottom">
                        <div class="col-sm-12">
                            <h5 style="font-weight: bold">
                                Size:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.Size)
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="font-weight: bold">
                                Unit:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.Unit)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 border border-bottom-0 border-left-0">
                    <div class="row border-bottom">
                        <div class="col">
                            <h5 style="font-weight: bold">
                                Branch And Description:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.BranchAndDescription)
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <h5 style="font-weight: bold">
                                PO #:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.PoNumber)
                            </h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 style="font-weight: bold">
                                Doc / Job #:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.DocJob)
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 border border-bottom-0">
                    <h5 style="font-weight: bold">
                        Comments:
                    </h5>
                    <h5>
                        @Html.DisplayFor(model => model.FreightBill.Comments)
                    </h5>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h5 style="font-weight: bold">Received By:</h5>
                </div>
                <div class="col-sm-6 border border-bottom-0 border-left-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-8 h5">Labor</th>
                                <th class="col-4 h5">Cost($)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor1)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost1)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor2)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost2)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor3)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost3)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor4)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost4)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor5)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost5)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor6)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost6)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor7)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost7)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor8)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost8)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    @Html.DisplayFor(model => model.FreightBill.Labor9)
                                </td>
                                <td class="col-4">
                                    @Html.DisplayFor(model => model.FreightBill.Cost9)
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    <h5 style="font-weight: bold">Total</h5>
                                </td>
                                <td class="col-4">
                                    <h5>@Model.FreightBill.Total</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 border">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="font-weight: bold">
                                Truck #:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.TruckNumber)
                            </h5>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="col-sm-12">
                            <h5 style="font-weight: bold">
                                Driver:
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.FreightBill.Driver)
                            </h5>
                        </div>
                    </div>
                <!--
                <div class="row">
                    <div class="col-sm-12">
                        <b>
                            Received By:
                        </b>
                        <br />
                        @Html.DisplayFor(model => model.FreightBill.ReceivedBy)
                    </div>
                </div>
                -->
                </div>
                <div class="col-sm-2 border border-left-0">
                    <h5 style="font-weight: bold">
                        Completion Date:
                    </h5>
                    @if (@Model.FreightBill.CompletionDate == null){
                        
                    }
                    else
                    {
                        <h5>@Model.FreightBill.CompletionDate.Value.ToShortDateString()</h5>
                    }
                </div>
                <div class="col-sm-3 border border-left-0">
                    <h5 style="font-weight: bold">
                        Site Contact:
                    </h5>
                    <h5>@Html.DisplayFor(model => model.FreightBill.SiteName)</h5>
                    <a class="h5" href="@string.Format("tel:{0}", Model.FreightBill.SitePhoneNumber)">@Model.FreightBill.SitePhoneNumber</a>
                    <a class="h5" href="@string.Format("mailto:{0}", Model.FreightBill.EmailAddress)">@Model.FreightBill.EmailAddress</a>
                </div>
                <div class="col-sm-3 border border-left-0">
                    <h5 style="font-weight: bold">
                        Payment Due Date:
                    </h5>
                    @if (@Model.FreightBill.DueDate == null){
                                            
                    }
                    else
                    {
                        <h5>@Model.FreightBill.DueDate.Value.ToShortDateString()</h5>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        
        <a asp-page="./Edit" asp-route-id="@Model.FreightBill.ID" class="h5">Edit |</a>
        <a asp-page="./Index" class="h5"> Back to List</a>
        <br/>
        <button type="submit" class="btn btn-primary bg-success" onclick="printDiv('PrintDiv', 'ommitThis')">Print Freight Bill</button>
    </div>
}
else
{
    <div class="text-center">
        <h1>You must log in to view this page.</h1>
    </div>
}