@page
@using GlrTransportInc.Models
@model GlrTransportInc.Pages.Freight_Bills.Files

@{
    ViewData["Title"] = "Files";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h4>Files for this bill (Note: This page is not finished, only one file can be added at the moment)</h4>
    <div class="table-responsive" style="display: block !important;">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                @if (Model.Filename1 != null)
                {
                    <td>
                        <a href="@Model.Filename1">@Model.Filename1</a>
                    </td>
                    <td>
                        Remove File
                    </td>
                }
                else
                {
                    <td>Add File</td>
                    <td></td>
                }
            </tr>
            <tr>
                @if (Model.Filename2 != null)
                {
                    <td>
                        <a href="@Model.Filename2">@Model.Filename2</a>
                    </td>
                    <td>
                        Remove File
                    </td>
                }
                else
                {
                    <td>Add File</td>
                    <td></td>
                }
            </tr>
            <tr>
                @if (Model.Filename3 != null)
                {
                    <td>
                        <a href="@Model.Filename3">@Model.Filename3</a>
                    </td>
                    <td>
                        Remove File
                    </td>
                }
                else
                {
                    <td>Add File</td>
                    <td></td>
                }
            </tr>
            </tbody>
        </table>
    </div>
<!--
else
{
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid column col-md-12 form-group">
        <hr/>
        <h3>Add/Edit Permit</h3>
        <label class="btn btn-default row">
            <input type="file" asp-for="Upload" accept=".pdf" id="onlypdf"/>
        </label>
        <br/>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
        <hr/>
    </div>
</form>
}
-->
</body>
</html>