@page
@model GlrTransportInc.IndexModel

<br />
<p>
    <a asp-page="Create" class="btn btn-primary btn-lg btn-block bg-success">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Driver
            </th>
            <th>
                Status
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
            <th>
                View
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.FreightBill) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">
                        <img src="~/Images/edit-icon.png" style="width:25px; height:25px;" alt="Edit">
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.ID">
                        <img src="~/Images/delete-icon.png" style="width:25px; height:25px;" alt="Delete">
                    </a>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">View Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>