@page
@model GlrTransportInc.IndexModel
@{
    ViewData["Title"] = "Freight Bills";
}
<br />

<p>
    <a asp-page="Create" class="btn btn-primary bg-success listStyle">Create New</a>
</p>

<body>
@foreach (var item in Model.FreightBill)
{
    <div class="listStyle">
        <hr />
        <h2>
            @Html.DisplayFor(modelItem => item.Customer)
        </h2>
        <p>Driver: @Html.DisplayFor(modelItem => item.Driver)</p>
        <p>Status: @Html.DisplayFor(modelItem => item.Status)</p>
        <a asp-page="./Edit" asp-route-id="@item.ID" class="optionButton">
            <img src="~/Images/edit-icon.png" style="width:25px; height:25px;" alt="Edit">
        </a>
        <a asp-page="./Delete" asp-route-id="@item.ID" class="optionButton">
            <img src="~/Images/delete-icon.png" style="width:25px; height:25px;" alt="Delete">
        </a>
        <a asp-page="./Details" asp-route-id="@item.ID">View Details</a>
    </div>
}
</body>