@page
@model GlrTransportInc.MyFreightsModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager


<br />
@if (SignInManager.IsSignedIn(User))
{
    <!-- Mobile style starts here -->
    <div class="mobileList">
        <body>
            <h3>Your Freights</h3>
            <hr />
            @foreach (var item in Model.FreightBill)
            {
                @if ((item.Driver) == MyFreightsModel.Name)
                {
                    <div class="listStyle">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </h2>
                        <p>Driver: @Html.DisplayFor(modelItem => item.Driver)</p>
                        <p>Status: @Html.DisplayFor(modelItem => item.Status)</p>
                       
                        <!-- *** ALL USERS MAY NEED TO EDIT BILLS, NEED TO VERIFY *** -->
                        
                        
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="optionButton">
                            <img src="~/Images/edit-icon.png" style="width:25px; height:25px;" alt="Edit">
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="optionButton">
                            <img src="~/Images/delete-icon.png" style="width:25px; height:25px;" alt="Delete">
                        </a>
                        
                        @if(item.Permit != null)
                        {
                            <a href="@item.Permit">Permit</a>
                        }
                        <p>  </p>
                        <a asp-page="./Details" asp-route-id="@item.ID">View Details</a>
                        <hr/>
                    </div>
                }
            }
        </body>
    </div>    
    <!-- Desktop style starts here -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer
                    </th>
                    <th>
                        Driver
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        View
                    </th>
                    <th>View Permit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FreightBill)
                {
                    @if ((item.Driver) == MyFreightsModel.Name)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Driver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.ID">
                                    <img src="~/Images/edit-icon.png" style="width:25px; height:25px;" alt="Edit">
                                </a>
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.ID">View Details</a>
                            </td>
                            @if (item.Permit != null)
                            {
                                <td>
                                    <a href="@item.Permit">Permit</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <p> </p>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <h1>You must be logged in to view this page.</h1>
    </div>

}