@page
@model MyProfileModel
@{
    ViewData["Title"] = "View your employee data";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>Your Account</h1>
    
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
    </div>
    <hr />
</div>
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" /> 
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <br />
            <p>Name: @MyProfileModel.Name</p>
            <p>Email: @MyProfileModel.Email</p>
            <p>Employee ID: @MyProfileModel.EmployeeId</p>
            <p>Phone number: @MyProfileModel.Phone</p>
            <p>Position: @MyProfileModel.UserPosition</p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}