@page
@model MyProfileModel
@{
    ViewData["Title"] = "View your employee data";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<br />
<h1>Your Account</h1>
    
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
    </div>
    <hr />
</div>
@foreach (var item in Model.Users)
{
    @if ((item.Email) == User.Identity.Name)
    {
        <h1>@item.Name</h1>
        <img gravatar-email="@User.Identity.Name" alt="Profile Picture"/>
        <br />
        <br />
        <h4>Employee ID: @item.EmployeeId</h4>
        <br />
        <h4>Position: @item.Position</h4>
        <br />
        <h4>Email: @item.Email</h4>
        <br />
        <h4>Phone Number: @item.PhoneNumber</h4>
    }
}
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}