@page
@model IndexModel
@using GlrTransportInc.Models
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- header image, desktop then mobile style, toggled via the media query -->
        <!-- DESKTOP -->
        <div class="mainBanner">
            <h1 class="centered" style="color: #0080ff; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white;">Hello, @IndexModel.Name!</h1>
            <div class="text-center">
                <img src="~/Images/Iphone_Icon.png" class="img-fluid" style="margin-top: 275px;" alt="Company Logo">
            </div>
            <!--
            <div class="centerImg">
                <img src="~/Images/Iphone_Icon.png" alt="Company Logo">
            </div>-->
        </div>
        <!-- MOBILE -->
        <div class="mainMobileBanner">
            <!-- <h5 class="mobileCentered" style="font-weight: bold; color: #0080FE">Hello, @IndexModel.Name!</h5> -->
        </div>
        <!-- Content, notice that Recent Announcements also has two styles -->
        <div about="row" class="text-center main">
            <!-- Links to other pages -->
            <h3 class="mainSize">Quick Links</h3>
            <p class="mobileSize">Quick Links</p>
            <div class="col">
                <a asp-page="./Calendar/MainCalendar" class="btn btn-primary">To Calendar</a>
                <a>: : :</a>
                <a asp-page="./Timesheets/MyIndex" class="btn btn-primary">Timesheets</a>
            </div>
            <!-- Ancmnts+events -->
            <h3 class="mainSize">Recent Events and Announcements</h3>
            <p class="mobileSize">Recent Events and Announcements</p>
            @foreach (var item in Model.Announcement.Take(4))
            {
                if (item.eventFlag == 0)
                {
                    <a class="nav-link" asp-page="./Announcements/Index">@item.Title (@string.Format("{0:MM/dd/yyyy hh:mm:ss tt}", item.DatePosted))</a>
                }
                else
                {
                    <a class="nav-link" asp-page="./Events/Index">@item.Title (@string.Format("{0:MM/dd/yyyy}", item.DatePosted))</a>
                }
            }
        </div>

    }
    else
    {
        <!-- LOGGED OUT / DEFAULT VIEW -->
        <!-- follows the same format as above, but for logged out view -->
        <div class="mainBanner">
            <h1 class="centered" style="color: #0080ff; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white;">Welcome!</h1>
            <div class="text-center">
                <img src="~/Images/Iphone_Icon.png" class="img-fluid" style="margin-top: 275px;" alt="Company Logo">
            </div>
        </div>
        <div class="mainMobileBanner">
            <!--<h4 class="mobileCentered" style="color: #0080ff; font-weight: bold">Welcome to GLR Transport!</h4>-->
        </div>
        <div about="row" class="text-center mainText">
            <h5>Welcome to GLR Transport Inc.!</h5>
            <p>
                This is a web application built to provide the members of GLR Transport Inc. a platform for managing
                freight bills and employees. Please log in to access this site's features, or view the about or
                contact page for general information.
            </p>
        </div>
    }
</body>