@page
@model UserCalendarModel
@{
    ViewBag.Title = "User Calendar";
}
<br />
<h2 class="column">Employee calendar for @UserCalendarModel.DriverName</h2>
<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div>
<!--Needs to be update to new Full Calendar-->
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.print.css" rel="stylesheet" media="print" />

@section scripts{
    <!--Needs tob e changed for new Full Calendar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var Id = '@Html.Raw(Json.Serialize(UserCalendarModel.Id))';
            var Id2 = JSON.parse(Id);
            var BillName = '@Html.Raw(Json.Serialize(UserCalendarModel.BillName))';
            var BillName2 = JSON.parse(BillName);
            var StartDate = '@Html.Raw(Json.Serialize(UserCalendarModel.StartDate))';
            var StartDate2 = JSON.parse(StartDate);
            var Status = '@Html.Raw(Json.Serialize(UserCalendarModel.Status))';
            var Status2 = JSON.parse(Status);
            //var StatusColor;
            //var data = JSON.parse(model);
            var tempevents = [];
            //var events = [];

            for (i = 0; i < BillName2.length; i++) {
                var temp = new Object();
                temp["id"] = Id2[i];
                temp["title"] = BillName2[i];
                temp["start"] = StartDate2[i];
                temp["status"] = Status2[i];
                //IF statements for different colors
                if (Status2[i] == 0) {
                    //Status Pending Color
                    temp["color"] = "#00bff";
                }
                else if (Status2[i] == 1) {
                    //Status Shipped Color
                    temp["color"] = "Orange";
                }
                else if (Status2[i] == 2) { 
                    //Status Complete Color
                    temp["color"] = "#378006";
                }
                else {
                    //Status Cancelled or Error Color
                    temp["color"] = "Red";
                }
                tempevents.push(temp);
            }
            $("#calendar").fullCalendar('removeEventSource', tempevents); 
            GenerateCalendar(tempevents);
            

            function GenerateCalendar(events) { 
                $("#calendar").fullCalendar('removeEventSource', events);
                $('#calendar').fullCalendar({
                    contentHeight: 700,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'month,listWeek,listDay',
                        center: 'title',
                        right: 'prev,next today'
                    },
                    buttonText: {
                        listWeek: 'List Week',
                        listDay: 'List Day',
                        month: 'Month'
                    },
                    footer: {
                        left: 'prev',
                        right: 'next'
                    },
                    defaultView: 'month',
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,

                    //This is EventClicker, should redirect to Details Page, kind of hardcoded it

                    eventClick: function (event) {
                        //alert('You clicked on ' + event.title);
                        window.location = "https://www.glrtransportinc.com/Freight_Bills/Details?id=" + event.id;
                        
                    }
                });
            }
        });
    </script>

}