@page
@using GlrTransportInc.Models
@model DirectoryModel
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Employee Directory";
}

<br />
<h1>@ViewData["Title"]</h1>
@if (SignInManager.IsSignedIn(User))
{
    
    <div>
        <div class="row">
            <div><partial name="DirectoryNav" /></div>
        </div>
    </div>
    <div class="mobileList">
        <body>
        @foreach (var item in Model.UserModel)
        {
            if (item.Position != "Dev")
            {
                <div class="listStyle">
                    <hr/>
                    <h2>
                        @Html.DisplayFor(modelItem => item.Name)
                    </h2>
                    <img gravatar-email="@item.Email" alt="Profile Picture"/>
                    <br/>
                    <br/>
                    <p>Position: @Html.DisplayFor(modelItem => item.Position)</p>
                    <p>Employee ID: @Html.DisplayFor(modelItem => item.EmployeeId)</p>
                    <p>Email: @Html.DisplayFor(modelItem => item.Email)</p>
                    <p>Phone Number: @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                </div>
            }
        }
        </body>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <!-- space for profile pic -->
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Position
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserModel)
                {
                    if (item.Position != "Dev")
                    {
                        <tr>
                            <td>
                                <img gravatar-email="@item.Email" alt="Profile Picture"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <h1>You must log in to view this page.</h1>
    </div>
}
